In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
import pandas as pd
import numpy as np

pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 1000)

In [134]:
df = pd.read_excel("Input - NEET Opening Closing 2020.xlsx")

starting_points = df.loc[df['Unnamed: 0'].str.contains('Admissions', na=False), 'Unnamed: 0'].index.tolist()
end_points = df.loc[df['Unnamed: 0'].str.contains('LEGEND', na=False), 'Unnamed: 0'].index.tolist()

categories = ['SC', 'ST', 'VJ', 'NT1', 'NT2', 'NT3', 'OBC', 'EWS', 'OPEN', 'D1', 'D2', 'D3', 'PH', 'MKB', 'NRI']
columns = ['Code', 'College Name', 'Category', 'S - AIR', 'M - Marks Obtained', 'Course', 'College Type']

final = pd.DataFrame(columns=columns)

In [135]:
for start, end in zip(starting_points, end_points):
    
    df1 = df.copy(deep=True)
    
    # Name of the course and type of the college
    course_college_type = df1.iloc[start + 1, :].dropna()[0].split("Quotawise List of Last Admitted Candidates In ")[1:][0].strip()

    split_by = '  ' if '  ' in course_college_type else ' '
    course_college_type = course_college_type.split(split_by)
    course = course_college_type[0]
    college_type = course_college_type[1] if len(course_college_type) >= 2 else "N/A"
            
    # dropping the first column from the dataframe
    df1.drop('Unnamed: 0', axis=1, inplace=True)

    # dropping the first three rows from the dataframe
    df1.drop([0, 1, 2], inplace = True )

    df2 = df1.loc[start+3:end-1, :]
    college_names = df2["Unnamed: 1"].tolist()
    
    # replace NaN with 'N/A' in the excel sheet
    df1.replace(np.NaN, 'N/A', inplace=True)
    
    # dropping the first column from the dataframe
    df2.drop('Unnamed: 1', axis=1, inplace=True)
    
    output = []
    for i in range(len(college_names)):
        if pd.isna(college_names[i]):
            continue

        if pd.isna(college_names[i + 1]) and college_names[i].split(" ")[0].isnumeric():
            output.append(college_names[i])
        elif not college_names[i].split(" ")[0].isnumeric():
            continue
        else:
            output.append(college_names[i] + ' ' + college_names[i+1])
    i = 0
    for item in output:
        print(f"Item: {item}")
        print("------------------------------------")
        if item.split(" ")[0].isnumeric() and item.split(" ")[1].isnumeric():
            college_code = item.split(" ")[1]
            college_name = "".join(item.split(" ")[2:])
        else:
            college_code = item.split(" ")[0]
            college_name = " ".join(item.split(" ")[1:])

        college_code = [college_code] * 15
        college_name = [college_name] * 15
        
        course = [course] * 15
        college_type = [college_type] * 15
        
        # rankings AIR
        rankings = df2.iloc[i, :].tolist()

        # marks obtained 
        marks = df2.iloc[i+1, :].tolist()
        i += 2
        
        new_df = pd.DataFrame(list(zip(college_code, college_name, categories, rankings, marks, course, college_type)), columns=columns)
        final = pd.concat([final, new_df], axis=0)

Item: 01101 GMC, MUMBAI
------------------------------------
Item: 01102 Tilak MC, MUMBAI
------------------------------------
Item: 01103 GSMC, MUMBAI
------------------------------------
Item: 01104 Nair MC, MUMBAI
------------------------------------
Item: 01109 RGMC KALVA, THANE
------------------------------------
Item: 01110 BJMC, PUNE
------------------------------------
Item: 01114 V M MC, SOLAPUR
------------------------------------
Item: 01115 GMC, MIRAJ
------------------------------------
Item: 01119 B HIRE MC, DHULE
------------------------------------
Item: 01132 GMC, KOLHAPUR
------------------------------------
Item: 01140 HBT & COOPER MC, JUHU, MUMBAI
------------------------------------
Item: 01149 GMC, JALGAON
------------------------------------
Item: 01150 GMC, BARAMATI
------------------------------------
Item: 01151 GMC, NANDURBAR
------------------------------------
Item: 01221 GMC, NAGPUR
------------------------------------
Item: 01222 IGMC, NAGPUR
------------------------------------
Item: 01226 VNMC, YEOTMAL
------------------------------------
Item: 01234 GMC AKOLA,
------------------------------------
Item: 01241 CGMC, CHANDRAPUR
------------------------------------
Item: 01242 GGMC, GONDIA
------------------------------------
Item: 01248 MGIMS MC, SEVAGRAM,WARDHA
------------------------------------
Item: 01327 GMC, AURANGABAD
------------------------------------
Item: 01328 GMC, NANDED
------------------------------------
Item: 01329 SRTR MC, AMBAJOGAI
------------------------------------
Item: 01333 GMC LATUR,
------------------------------------
Item: 01105 K J Somaiya MC, MUMBAI
------------------------------------
Item: 01108 Terna MC NERUL, NAVI MUMBAI
------------------------------------
Item: 01112 MIMER MC, TALEGAON  PUNE
------------------------------------
Item: 01118 V PAWAR MC, NASIK
------------------------------------
Item: 01120 ACPM MC, DHULE
------------------------------------
Item: 01135 VVPF'S MED. COL, AHMEDNAGAR
------------------------------------
Item: 01136 SKN MED.COL, PUNE
------------------------------------
Item: 01137 ASHWINI MED.COL, SOLAPUR
------------------------------------
Item: 01138 DR U. PATIL MC, JALGAON
------------------------------------
Item: 01139 WALAWALKAR MC, RATNAGIRI
------------------------------------
Item: 01143 PIMS ISLAMPUR, ISLAMPUR,SANGLI
------------------------------------
Item: 01144 SMBT MC NASHIK, NANDIHILLS
------------------------------------
Item: 01147 VEDANTA MC, PALGHAR
------------------------------------
Item: 01152 SSPM MC, KUDAL SINDHUDURG
------------------------------------
Item: 01223 NKP SALVE MC, NAGPUR
------------------------------------
Item: 01225 PDMC, AMRAVATI
------------------------------------
Item: 01330 MIMSR MC, LATUR
------------------------------------
Item: 01345 IIMSR JALNA,
------------------------------------
Item: 1 02101 GDC, MUMBAI
------------------------------------
Item: 2 02102 Nair DC, MUMBAI
------------------------------------
Item: 3 02207 GDC, NAGPUR
------------------------------------
Item: 4 02313 GDC, AURANGABAD
------------------------------------
Item: 02104 V Patil DC, SANGLI
------------------------------------
Item: 02105 MGVM DC, NASIK
------------------------------------
Item: 02115 YMT DC, NEW MUMBAI
------------------------------------
Item: 02116 D Y PATIL DC, LOHGAON, PUNE
------------------------------------
Item: 02117 SMBT DC, SANGAMNER
------------------------------------
Item: 02118 PDU DC, SOLAPUR
------------------------------------
Item: 02119 MAR DC, PUNE
------------------------------------
Item: 02120 KORE DC, KOLHAPUR
------------------------------------
Item: 02121 ACPM DC, DHULE
------------------------------------
Item: 02122 TERNA DC, NEW MUMBAI
------------------------------------
Item: 02123 MGM DC, NEW MUMBAI
------------------------------------
Item: 02124 SINHAGAD DC, PUNE
------------------------------------
Item: 02127 YOGITA DC, KHED, RATNAGIRI
------------------------------------
Item: 02134 YCM DC, AHMEDNAGAR
------------------------------------
Item: 02135 SMBT DC, NASIK
------------------------------------
Item: 02211 VYWS DC, AMRAVATI
------------------------------------
Item: 02212 VSPM DC, NAGPUR
------------------------------------
Item: 02229 KAMBE DC, AKOLA
------------------------------------
Item: 02230 SDKS DC, NAGPUR
------------------------------------
Item: 02314 CSMSS DC, AURANGABAD
------------------------------------
Item: 02325 MIDSR DC, LATUR
------------------------------------
Item: 02326 SD DC, PARBHANI
------------------------------------
Item: 02331 ADITYA DC, BEED
------------------------------------
Item: 02332 HEDGEWAR DC, HINGOLI
------------------------------------
Item: 02333 NANDED RURAL DC,
------------------------------------
Item: 03101 RAP AC, MUMBAI
------------------------------------
Item: 03102 KGMP (MIN) AC, MUMBAI
------------------------------------
Item: 03103 AM SION, MUMBAI
------------------------------------
Item: 03106 BS AC, SAWANTWADI
------------------------------------
Item: 03107 ASHTANG AC, PUNE
------------------------------------
Item: 03108 RSM TILAK AC, PUNE S :
------------------------------------
Item: 03116 SCM ARYANGLA, SATARA
------------------------------------
Item: 03117 VDP AC SM ROAD, SANGLI
------------------------------------
Item: 03119 SGRA (MIN) AC, SOLAPUR
------------------------------------
Item: 03120 GS GUNE AC, AHMEDNAGAR
------------------------------------
Item: 03125 AMP PANCHAVATI, NASIK
------------------------------------
Item: 03129 KTRA BORADI, SHIRPUR-DHULE
------------------------------------
Item: 03182 GAC, JALGAON
------------------------------------
Item: 03232 GAC, NAGPUR
------------------------------------
Item: 03233 SAM, NAGPUR
------------------------------------
Item: 03235 GURUDEO, MOZRI,AMARAVATI
------------------------------------
Item: 03236 VAM, AMRAVATI
------------------------------------
Item: 03237 RTAM, AKOLA
------------------------------------
Item: 03239 DMMAM, YAVATMAL
------------------------------------
Item: 03343 GAC, NANDED
------------------------------------
Item: 03344 GAC, OSMANABAD
------------------------------------

IndexError: list index out of range

In [62]:
df1 = df[colleges[0]:colleges[1] - 5]
len(df1)

50

In [63]:
college_names = df1["Unnamed: 1"].tolist()
len(college_names)

50

In [72]:
df1 = df1.iloc[:, 2:]
df1.replace(np.NaN, 'N/A', inplace=True)
df1.reset_index(drop=True, inplace=True)

In [65]:
output = []
for i in range(len(college_names)):
    if pd.isna(college_names[i]):
        continue

    if pd.isna(college_names[i + 1]) and college_names[i].split(" ")[0].isnumeric():
        output.append(college_names[i])
    elif not college_names[i].split(" ")[0].isnumeric():
        continue
    else:
        output.append(college_names[i] + ' ' + college_names[i+1])

In [66]:
categories = ['SC', 'ST', 'VJ', 'NT1', 'NT2', 'NT3', 'OBC', 'EWS', 'OPEN', 'D1', 'D2', 'D3', 'PH', 'MKB', 'NRI']
columns = ['Code', 'College Name', 'Category', 'S - AIR', 'M - Marks Obtained', 'Course', 'College Type']

In [67]:
total = len(output) * 2
i = 0

item = output[0]

if item.split(" ")[0].isnumeric() and item.split(" ")[1].isnumeric():
    college_code = item.split(" ")[1]
    college_name = "".join(item.split(" ")[2:])
else:
    college_code = item.split(" ")[0]
    college_name = " ".join(item.split(" ")[1:])

college_name = [college_name] * 15
college_code = [college_code] * 15
course = [course] * 15
college_type = [college_type] * 15

In [68]:
# rankings AIR
rankings = df1.iloc[0, :].tolist()

# marks obtained 
marks = df1.iloc[1, :].tolist()

In [69]:
new_df = pd.DataFrame(list(zip(college_code, college_name, categories, rankings, marks, course, college_type)), columns=columns)
print(new_df)

     Code College Name Category S - AIR M - Marks Obtained    Course  \
0   01101  GMC, MUMBAI       SC   47384                552  M.B.B.S.
1   01101  GMC, MUMBAI       ST  180913                404  M.B.B.S.
2   01101  GMC, MUMBAI       VJ   22048                595  M.B.B.S.
3   01101  GMC, MUMBAI      NT1   32096                577  M.B.B.S.
4   01101  GMC, MUMBAI      NT2   12268                618  M.B.B.S.
5   01101  GMC, MUMBAI      NT3    7007                635  M.B.B.S.
6   01101  GMC, MUMBAI      OBC   12081                619  M.B.B.S.
7   01101  GMC, MUMBAI      EWS   13670                615  M.B.B.S.
8   01101  GMC, MUMBAI     OPEN    8971                629  M.B.B.S.
9   01101  GMC, MUMBAI       D1   20470                599  M.B.B.S.
10  01101  GMC, MUMBAI       D2    4111                649  M.B.B.S.
11  01101  GMC, MUMBAI       D3    9448                627  M.B.B.S.
12  01101  GMC, MUMBAI       PH  624419                164  M.B.B.S.
13  01101  GMC, MUMBAI      MKB   33135                575  M.B.B.S.
14  01101  GMC, MUMBAI      NRI     N/A                N/A  M.B.B.S.

                 College Type
0   GOVERNMENT/AIDED COLLEGES
1   GOVERNMENT/AIDED COLLEGES
2   GOVERNMENT/AIDED COLLEGES
3   GOVERNMENT/AIDED COLLEGES
4   GOVERNMENT/AIDED COLLEGES
5   GOVERNMENT/AIDED COLLEGES
6   GOVERNMENT/AIDED COLLEGES
7   GOVERNMENT/AIDED COLLEGES
8   GOVERNMENT/AIDED COLLEGES
9   GOVERNMENT/AIDED COLLEGES
10  GOVERNMENT/AIDED COLLEGES
11  GOVERNMENT/AIDED COLLEGES
12  GOVERNMENT/AIDED COLLEGES
13  GOVERNMENT/AIDED COLLEGES
14  GOVERNMENT/AIDED COLLEGES

In [71]:
new_df.to_excel("Output.xlsx")

In [9]:
df_copy = df.copy(deep=True)

for i in range(len(colleges)):
    # Name of the course and type of the college
    print(df.iloc[colleges[i], :])
    course_college_type = df.iloc[colleges[i + 1], :].dropna()[0]
    print(course_college_type)
    course = course_college_type.split("  ")[1]
    college_type = course_college_type.split("  ")[2]
    
    print(course)

Unnamed: 0     Admissions to Health Science Courses, 2020-2021
Unnamed: 1                                                 NaN
Unnamed: 2                                                 NaN
Unnamed: 3                                                 NaN
Unnamed: 4                                                 NaN
Unnamed: 5                                                 NaN
Unnamed: 6                                                 NaN
Unnamed: 7                                                 NaN
Unnamed: 8                                                 NaN
Unnamed: 9                                                 NaN
Unnamed: 10                                                NaN
Unnamed: 11                                                NaN
Unnamed: 12                                                NaN
Unnamed: 13                                                NaN
Unnamed: 14                                                NaN
Unnamed: 15                                                NaN
Unnamed: 16                                                NaN
Unnamed: 17                                                NaN
Name: 0, dtype: object
Quotawise List of Last Admitted Candidates In  M.B.B.S.  PRIVATE COLLEGES
M.B.B.S.
Unnamed: 0                                                   NaN
Unnamed: 1                                                   NaN
Unnamed: 2                                                   NaN
Unnamed: 3     Quotawise List of Last Admitted Candidates In ...
Unnamed: 4                                                   NaN
Unnamed: 5                                                   NaN
Unnamed: 6                                                   NaN
Unnamed: 7                                                   NaN
Unnamed: 8                                                   NaN
Unnamed: 9                                                   NaN
Unnamed: 10                                                  NaN
Unnamed: 11                                                  NaN
Unnamed: 12                                                  NaN
Unnamed: 13                                                  NaN
Unnamed: 14                                                  NaN
Unnamed: 15                                                  NaN
Unnamed: 16                                                  NaN
Unnamed: 17                                                  NaN
Name: 56, dtype: object
Sr Code  College Name

IndexError: list index out of range

In [ ]:
df_copy = df.copy(deep=True)

for i in range(len(colleges)):
    
    # Name of the course and type of the college
    course_college_type = df.iloc[colleges[i + 1], :].dropna()[0]
    course = course_college_type.split("  ")[1]
    college_type = course_college_type.split("  ")[2]

    # dropping the first column from the dataframe
    df.drop('Unnamed: 0', axis=1, inplace=True)

    # dropping the first three rows from the dataframe
    df.drop([0, 1, 2], inplace = True )

    df1 = df[colleges[0]:colleges[1] - 2]

    college_names = df1["Unnamed: 1"].tolist()

    df1 = df1.iloc[:, 2:]
    df1.replace(np.NaN, 'N/A', inplace=True)
    df1.reset_index(drop=True, inplace=True)

    output = []

    for i in range(len(college_names)):
        if pd.isna(college_names[i]):
            continue

        if pd.isna(college_names[i + 1]) and college_names[i].split(" ")[0].isnumeric():
            output.append(college_names[i])
        elif not college_names[i].split(" ")[0].isnumeric():
            continue
        else:
            output.append(college_names[i] + ' ' + college_names[i+1])

        total = len(output) * 2
        i = 0

        for item in output:

            if item.split(" ")[0].isnumeric() and item.split(" ")[1].isnumeric():
                college_code = item.split(" ")[1]
                college_name = " ".join(item.split(" ")[2:])
            else:
                college_code = item.split(" ")[0]
                college_name = " ".join(item.split(" ")[1:])

            college_name = [college_name] * 15
            college_code = [college_code] * 15
            course = [course] * 15
            college_type = [college_type] * 15

            # rankings AIR
            rankings = df1.iloc[0, :].tolist()

            # marks obtained 
            marks = df1.iloc[1, :].tolist()

            new_df = pd.DataFrame(list(zip(serial_numbers, college_code, college_name, categories, rankings, marks, course, college_type)), columns=columns)
            new_df

In [ ]:
for i in range(len(colleges)):
    
    # Name of the course and type of the college
    course_college_type = df[colleges[0]:colleges[1]].loc[1, 'Unnamed: 5']
    course_college_type = df.iloc[1, :].dropna()[0]
    course = course_college_type.split("  ")[1]
    college_type = course_college_type.split("  ")[2]
    
    # dropping the first column from the dataframe
    df.drop('Unnamed: 0', axis=1, inplace=True)

    # dropping the first three rows from the dataframe
    df.drop([0, 1, 2], inplace = True )
    
    df1 = df[colleges[0]:colleges[1] - 2]
    
    college_names = df1["Unnamed: 1"].tolist()
    
    df1 = df1.iloc[:, 2:]
    df1.replace(np.NaN, 'N/A', inplace=True)
    df1.reset_index(drop=True, inplace=True)
    
    output = []

    for i in range(len(college_names)):
        if pd.isna(college_names[i]):
            continue
        
        if pd.isna(college_names[i + 1]) and college_names[i].split(" ")[0].isnumeric():
            output.append(college_names[i])
        elif not college_names[i].split(" ")[0].isnumeric():
            continue
        else:
            output.append(college_names[i] + ' ' + college_names[i+1])
        
        total = len(output) * 2
        i = 0
        
        for item in output:

            if item.split(" ")[0].isnumeric() and item.split(" ")[1].isnumeric():
                college_code = item.split(" ")[1]
                college_name = "".join(item.split(" ")[2:])
            else:
                college_code = item.split(" ")[0]
                college_name = "".join(item.split(" ")[1:])

            college_name = [college_name] * 15
            college_code = [college_code] * 15
            course = [course] * 15
            college_type = [college_type] * 15
    
            # rankings AIR
            rankings = df1.iloc[0, :].tolist()

            # marks obtained 
            marks = df1.iloc[1, :].tolist()
            
            new_df = pd.DataFrame(list(zip(serial_numbers, college_code, college_name, categories, rankings, marks, course, college_type)), columns=columns)
            new_df