In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [ ]:
import pandas as pd
import numpy as np

pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 1000)

In [58]:
df = pd.read_excel("Input - NEET Opening Closing 2020.xlsx")
# df.head(60)

# Delete all the records where first column value contains "LEGEND"
df.drop(df[df['Unnamed: 0'].str.contains('LEGEND', na=False)].index, inplace = True)

# df.loc[pd.to_numeric(df['Unnamed: 0'].fillna(0), errors='coerce').isna(), 'Unnamed: 0']
colleges = df.loc[pd.to_numeric(df['Unnamed: 0'].fillna(0),errors='coerce').isna(),'Unnamed: 0'].index.values.tolist()
len(colleges)

20

In [4]:
df.loc[pd.to_numeric(df['Unnamed: 0'].fillna(0), errors='coerce').isna(), 'Unnamed: 0']

0      Admissions to Health Science Courses, 2020-2021
55     Admissions to Health Science Courses, 2020-2021
96     Admissions to Health Science Courses, 2020-2021
109    Admissions to Health Science Courses, 2020-2021
164    Admissions to Health Science Courses, 2020-2021
211    Admissions to Health Science Courses, 2020-2021
271    Admissions to Health Science Courses, 2020-2021
326    Admissions to Health Science Courses, 2020-2021
386    Admissions to Health Science Courses, 2020-2021
431    Admissions to Health Science Courses, 2020-2021
452    Admissions to Health Science Courses, 2020-2021
465    Admissions to Health Science Courses, 2020-2021
525    Admissions to Health Science Courses, 2020-2021
580    Admissions to Health Science Courses, 2020-2021
603    Admissions to Health Science Courses, 2020-2021
616    Admissions to Health Science Courses, 2020-2021
676    Admissions to Health Science Courses, 2020-2021
736    Admissions to Health Science Courses, 2020-2021
796    Admissions to Health Science Courses, 2020-2021
852    Admissions to Health Science Courses, 2020-2021
Name: Unnamed: 0, dtype: object

In [59]:
# Name of the course and type of the college
course_college_type = df.iloc[1, :].dropna()[0]
course = course_college_type.split("  ")[1]
college_type = course_college_type.split("  ")[2]

print(course)
print(college_type)

M.B.B.S.
GOVERNMENT/AIDED COLLEGES

In [60]:
# dropping the first column from the dataframe
df.drop('Unnamed: 0', axis=1, inplace=True)

In [61]:
# dropping the first three rows from the dataframe
df.drop([0, 1, 2], inplace = True )

In [62]:
df1 = df[colleges[0]:colleges[1] - 5]
len(df1)

50

In [63]:
college_names = df1["Unnamed: 1"].tolist()
len(college_names)

50

In [72]:
df1 = df1.iloc[:, 2:]
df1.replace(np.NaN, 'N/A', inplace=True)
df1.reset_index(drop=True, inplace=True)

In [65]:
output = []
for i in range(len(college_names)):
    if pd.isna(college_names[i]):
        continue

    if pd.isna(college_names[i + 1]) and college_names[i].split(" ")[0].isnumeric():
        output.append(college_names[i])
    elif not college_names[i].split(" ")[0].isnumeric():
        continue
    else:
        output.append(college_names[i] + ' ' + college_names[i+1])

In [66]:
categories = ['SC', 'ST', 'VJ', 'NT1', 'NT2', 'NT3', 'OBC', 'EWS', 'OPEN', 'D1', 'D2', 'D3', 'PH', 'MKB', 'NRI']
columns = ['Code', 'College Name', 'Category', 'S - AIR', 'M - Marks Obtained', 'Course', 'College Type']

In [67]:
total = len(output) * 2
i = 0

item = output[0]

if item.split(" ")[0].isnumeric() and item.split(" ")[1].isnumeric():
    college_code = item.split(" ")[1]
    college_name = "".join(item.split(" ")[2:])
else:
    college_code = item.split(" ")[0]
    college_name = " ".join(item.split(" ")[1:])

college_name = [college_name] * 15
college_code = [college_code] * 15
course = [course] * 15
college_type = [college_type] * 15

In [68]:
# rankings AIR
rankings = df1.iloc[0, :].tolist()

# marks obtained 
marks = df1.iloc[1, :].tolist()

In [69]:
new_df = pd.DataFrame(list(zip(college_code, college_name, categories, rankings, marks, course, college_type)), columns=columns)
print(new_df)

     Code College Name Category S - AIR M - Marks Obtained    Course  \
0   01101  GMC, MUMBAI       SC   47384                552  M.B.B.S.
1   01101  GMC, MUMBAI       ST  180913                404  M.B.B.S.
2   01101  GMC, MUMBAI       VJ   22048                595  M.B.B.S.
3   01101  GMC, MUMBAI      NT1   32096                577  M.B.B.S.
4   01101  GMC, MUMBAI      NT2   12268                618  M.B.B.S.
5   01101  GMC, MUMBAI      NT3    7007                635  M.B.B.S.
6   01101  GMC, MUMBAI      OBC   12081                619  M.B.B.S.
7   01101  GMC, MUMBAI      EWS   13670                615  M.B.B.S.
8   01101  GMC, MUMBAI     OPEN    8971                629  M.B.B.S.
9   01101  GMC, MUMBAI       D1   20470                599  M.B.B.S.
10  01101  GMC, MUMBAI       D2    4111                649  M.B.B.S.
11  01101  GMC, MUMBAI       D3    9448                627  M.B.B.S.
12  01101  GMC, MUMBAI       PH  624419                164  M.B.B.S.
13  01101  GMC, MUMBAI      MKB   33135                575  M.B.B.S.
14  01101  GMC, MUMBAI      NRI     N/A                N/A  M.B.B.S.

                 College Type
0   GOVERNMENT/AIDED COLLEGES
1   GOVERNMENT/AIDED COLLEGES
2   GOVERNMENT/AIDED COLLEGES
3   GOVERNMENT/AIDED COLLEGES
4   GOVERNMENT/AIDED COLLEGES
5   GOVERNMENT/AIDED COLLEGES
6   GOVERNMENT/AIDED COLLEGES
7   GOVERNMENT/AIDED COLLEGES
8   GOVERNMENT/AIDED COLLEGES
9   GOVERNMENT/AIDED COLLEGES
10  GOVERNMENT/AIDED COLLEGES
11  GOVERNMENT/AIDED COLLEGES
12  GOVERNMENT/AIDED COLLEGES
13  GOVERNMENT/AIDED COLLEGES
14  GOVERNMENT/AIDED COLLEGES

In [71]:
new_df.to_excel("Output.xlsx")

In [ ]:
df_copy = 

for i in range(len(colleges)):
    
    # Name of the course and type of the college
    course_college_type = df.iloc[colleges[i + 1], :].dropna()[0]
    course = course_college_type.split("  ")[1]
    college_type = course_college_type.split("  ")[2]

    # dropping the first column from the dataframe
    df.drop('Unnamed: 0', axis=1, inplace=True)

    # dropping the first three rows from the dataframe
    df.drop([0, 1, 2], inplace = True )

    df1 = df[colleges[0]:colleges[1] - 2]

    college_names = df1["Unnamed: 1"].tolist()

    df1 = df1.iloc[:, 2:]
    df1.replace(np.NaN, 'N/A', inplace=True)
    df1.reset_index(drop=True, inplace=True)

    output = []

    for i in range(len(college_names)):
        if pd.isna(college_names[i]):
            continue

        if pd.isna(college_names[i + 1]) and college_names[i].split(" ")[0].isnumeric():
            output.append(college_names[i])
        elif not college_names[i].split(" ")[0].isnumeric():
            continue
        else:
            output.append(college_names[i] + ' ' + college_names[i+1])

        total = len(output) * 2
        i = 0

        for item in output:

            if item.split(" ")[0].isnumeric() and item.split(" ")[1].isnumeric():
                college_code = item.split(" ")[1]
                college_name = " ".join(item.split(" ")[2:])
            else:
                college_code = item.split(" ")[0]
                college_name = " ".join(item.split(" ")[1:])

            college_name = [college_name] * 15
            college_code = [college_code] * 15
            course = [course] * 15
            college_type = [college_type] * 15

            # rankings AIR
            rankings = df1.iloc[0, :].tolist()

            # marks obtained 
            marks = df1.iloc[1, :].tolist()

            new_df = pd.DataFrame(list(zip(serial_numbers, college_code, college_name, categories, rankings, marks, course, college_type)), columns=columns)
            new_df

In [ ]:
for i in range(len(colleges)):
    
    # Name of the course and type of the college
    course_college_type = df[colleges[0]:colleges[1]].loc[1, 'Unnamed: 5']
    course_college_type = df.iloc[1, :].dropna()[0]
    course = course_college_type.split("  ")[1]
    college_type = course_college_type.split("  ")[2]
    
    # dropping the first column from the dataframe
    df.drop('Unnamed: 0', axis=1, inplace=True)

    # dropping the first three rows from the dataframe
    df.drop([0, 1, 2], inplace = True )
    
    df1 = df[colleges[0]:colleges[1] - 2]
    
    college_names = df1["Unnamed: 1"].tolist()
    
    df1 = df1.iloc[:, 2:]
    df1.replace(np.NaN, 'N/A', inplace=True)
    df1.reset_index(drop=True, inplace=True)
    
    output = []

    for i in range(len(college_names)):
        if pd.isna(college_names[i]):
            continue
        
        if pd.isna(college_names[i + 1]) and college_names[i].split(" ")[0].isnumeric():
            output.append(college_names[i])
        elif not college_names[i].split(" ")[0].isnumeric():
            continue
        else:
            output.append(college_names[i] + ' ' + college_names[i+1])
        
        total = len(output) * 2
        i = 0
        
        for item in output:

            if item.split(" ")[0].isnumeric() and item.split(" ")[1].isnumeric():
                college_code = item.split(" ")[1]
                college_name = "".join(item.split(" ")[2:])
            else:
                college_code = item.split(" ")[0]
                college_name = "".join(item.split(" ")[1:])

            college_name = [college_name] * 15
            college_code = [college_code] * 15
            course = [course] * 15
            college_type = [college_type] * 15
    
            # rankings AIR
            rankings = df1.iloc[0, :].tolist()

            # marks obtained 
            marks = df1.iloc[1, :].tolist()
            
            new_df = pd.DataFrame(list(zip(serial_numbers, college_code, college_name, categories, rankings, marks, course, college_type)), columns=columns)
            new_df